/* Color palette: https://coolors.co/0d0e24-a7a9b9-373e7c-1e203f-ffe224 */

:root {
    --primary-color: #0D0E24;
    --secondary-color: #A7A9B9;
    --accent1-color: #373E7C;
    --accent2-color: #1E203F;
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Roboto Serif', serif;
    --nav-background-color: #373E7C;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: #1E203F;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
   font-family: var(--heading-font);
   color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 15px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);

}

