/* General styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header, nav, footer {
  background-color: #fff6f6;
  padding: 1em;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

/* Paragraph style */
p {
  padding: 0;
}

/* Main image */
main img {
  width: 100%;
  height: auto;
}

/* Aside styling */
aside {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  color: #333;
}

aside img {
  width: 200px;
  height: auto;
}

/* Footer styling */
footer {
  margin-top: 20px;
  border-top: 2px solid #ccc;
  text-align: center;
}